.apex/
.pdsh/
*.png
plot_train_validation_losses.py
configs/*_uservars.tconf
private_scripts/

__pycache__/
.vscode
configs/test.tconf

dolma/
dolma-old/
dolma-json-old/

metadata/training_data/
metadata/open-llm-leaderboard-results-*

*.out
