# Copy this into .env and replace the values with your own
# DO NOT COMMIT YOUR VERSION OF .env TO THE REPO
BASE_REPO=<the location of the repo>
WANDB_API_KEY=<your wandb api key>
WANDB_USER=<your wandb username>
TOWERLLM_ENV_NAME=towerllm-env
MINICONDA_PATH=~/miniconda3/etc/profile.d/conda.sh
WANDB_ID=<run id. leave blank for a timestamp id>